.idea
JetBrainsInterviewProject.sln
JetBrainsInterviewProject.sln.DotSettings.user
JetBrainsInterviewProject/bin/
JetBrainsInterviewProject/obj/
UnitTests/bin/
UnitTests/obj/
/.vs
/consolePTY/obj/Debug/net8.0-windows
/consolePTY/obj/consolePTY.csproj.nuget.dgspec.json
/consolePTY/obj/consolePTY.csproj.nuget.g.props
/consolePTY/obj/project.assets.json
/consolePTY/obj/project.nuget.cache
/PSHostApp/obj/Debug/net8.0-windows
/PSHostApp/obj/project.assets.json
/PSHostApp/obj/project.nuget.cache
/PSHostApp/obj/PSHostApp.csproj.nuget.dgspec.json
/PSHostApp/obj/PSHostApp.csproj.nuget.g.props
/PSHostApp/obj/PSHostApp.csproj.nuget.g.targets
/PSHostModule/obj/Debug/net8.0
/PSHostModule/obj
/UnitTestsPTY/obj
/WPF_ConPTY/obj/Debug/net8.0-windows
/WPF_ConPTY/obj/project.assets.json
/WPF_ConPTY/obj/project.nuget.cache
/WPF_ConPTY/obj/WPF_ConPTY.csproj.nuget.dgspec.json
/WPF_ConPTY/obj/WPF_ConPTY.csproj.nuget.g.props
/WPF_ConPTY/obj/WPF_ConPTY.csproj.nuget.g.targets
